<div #activityContainer class="activity-container">
  <form [formGroup]="activityForm">
    <div class="p-col-12 ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <p-checkbox #activityCheckbox
                    formControlName="done"
                    [binary]="true"
                    (onChange)="handleChange()">
        </p-checkbox>
      </span>
      <textarea #textAreaElement
                pInputTextarea
                appNoBlank
                formControlName="description"
                [rows]="1"
                [autoResize]="autoresize"
                (keydown.enter)="createNextActivity($event)"
                (keydown.shift.enter)="onShiftEnter($event)"
                (keydown.alt.delete)="deleteActivity($event)"
                (ngModelChange)="handleChange($event)"
                [ngClass]="{taskDone: activityCheckbox.checked}"
                [maxLength]="280">
      </textarea>
    </div>
  </form>
</div>
