@import "variables";

/** Field still invalid after touching it */
.ui-inputtext:enabled.ng-invalid.ng-touched {
  border-color: $border-color-error;
  &:focus:not(.ui-state-error) {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: $box-shadow-error;
    border-color: $border-color-error;
  }
}
