/** Form theme variables */
$box-shadow-error: 0 0 0 0.2em #ffa3a3 !default;
$border-color-error: #b30000 !default;

/** Generic theme variables */
$border-color: #c8c8c8 !default;
$secondary-bg-color: #f4f4f4 !default;

/** Card and fieldsets variables */
$box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.2), 0 .2rem .2rem 0 rgba(0, 0, 0, 0.14), 0 .4rem .4rem -.4rem rgba(0, 0, 0, 0.12) !default;
