<div class="app-container">
  <app-header></app-header>
  <hr>
  <ng-container *ngIf="(currentTask$ | async) != null; else welcome">
    <app-task></app-task>
  </ng-container>
</div>

<ng-template #welcome>
  <div class="p-grid p-justify-center p-align-center">
    <div class="p-col-fixed welcome-card">
      <p-card [header]="('i18n.term.welcome_on_lazilyst' | translate) + '!'">
        <p-header>
          <img [alt]="'i18n.term.desktop' | translate" src="assets/images/welcome-card.jpg">
        </p-header>
        {{ 'i18n.sentence.welcome_tutorial' | translate }}
      </p-card>
    </div>
  </div>
</ng-template>


