<div *ngIf="activitiesFormArray.controls != null && activitiesFormArray.controls.length > 0; else noActivities"
     class="activities-container">
  <p-fieldset [toggleable]="true">
    <p-header>
      {{ 'i18n.term.activities' | translate }}
    </p-header>
    <form [formGroup]="taskForm">
      <ng-container formArrayName="activities">
        <div *ngFor="let control of activitiesFormArray.controls; let i = index">
          <app-activity [formControlName]="i"
                        (createActivity)="addActivity(i)"
                        (deleteActivity)="deleteActivity(i)">
          </app-activity>
        </div>
      </ng-container>
    </form>
  </p-fieldset>
</div>

<ng-template #noActivities>
  <div class="p-grid p-justify-center p-align-center">
    <div class="p-col-fixed welcome-card">
      <p-card [header]="('i18n.term.no_activities' | translate)">
        <p-header>
          <img alt="Guy sleeping on work" src="assets/images/no-activities-card.jpg">
        </p-header>
        {{ 'i18n.sentence.create_new_activities' | translate }}
      </p-card>
    </div>
  </div>
</ng-template>
