<form [formGroup]="taskForm" (submit)="saveTask()" class="form">

  <p-messages [closable]="false"
              [value]="validationErrors"
  ></p-messages>

  <div class="p-grid form-container">
    <div class="p-col-12 form-group">
      <span class="ui-float-label">
        <input pInputText
               appNoBlank
               type="text"
               id="task-name-input"
               formControlName="name"
        />
        <label for="task-name-input">
          {{ 'i18n.term.name' | translate }}
        </label>
      </span>
    </div>
    <div class="p-col-12 form-group">
      <span class="ui-float-label">
        <textarea pInputTextarea
                  appNoBlank
                  id="task-description-textarea"
                  type="text"
                  rows="5"
                  [autoResize]="true"
                  formControlName="description"
        ></textarea>
        <label for="task-description-textarea">
          {{ 'i18n.term.description' | translate }}
        </label>
      </span>
    </div>
    <div class="p-col-12 form-group">
      <span class="ui-float-label">
        <input pInputText
               appNoBlank
               type="text"
               id="task-link-input"
               formControlName="link"
        />
        <label for="task-link-input">
          {{ 'i18n.term.external_link' | translate }}
        </label>
      </span>
    </div>
  </div>
  <div class="p-grid p-justify-end buttons-container">
    <div class="p-col-fixed">
      <p-button styleClass="ui-button-secondary"
                type="button"
                icon="pi pi-undo"
                iconPos="right"
                [label]="'i18n.term.reset' | translate"
                (click)="resetForm()"
      ></p-button>
    </div>
    <div class="p-col-fixed">
      <p-button styleClass="ui-button-success"
                type="submit"
                icon="pi pi-save"
                iconPos="right"
                [label]="'i18n.term.save' | translate"
      ></p-button>
    </div>
  </div>
</form>
